*.pyc
cache*
dna_cache*
examples/runs
examples/ft
examples/output*
examples/ft_new
examples/results
examples/data_old
examples/data
examples/result
examples/models
src/transformer/data/__pycache__
src/transformer/data/metrics/__pycache__
src/transformer/data/processors/__pycache__
src/transformer/__pycache__
src/transformers.egg-info
.idea
examples/runs
examples/output